{% extends "BabyStatBundle:Stat:layout.html.twig" %}

{% block title %}{{ parent() }} - Ajouter Partie{% endblock %}

{% block body %}
	<form class="form" role="form" action="{{ path('babystat_ajoutpartie') }}" method="POST">
		<div class="form-group">
			<label for="passwd_addgame">Restricted access</label>
			<input type="password" class="form-control" id="passwd_addgame" name="passwd_addgame" placeholder="Enter password">
		</div>
		<button type="submit" class="btn btn-default btn-sm">Sign in</button>
	</form>
	{% if msg != 'login' %}
		<div class="text-danger">{{ msg }}</div>
	{% endif %}
{% endblock %}