body {
	margin-top:45px;
}

.jumbotron {
	background:white;
}

th, td {
	text-align: center;
	vertical-align: middle!important;
}

#userTable {
	margin-top:20px;
}

#userTable td, #userTable th {
	text-align:left;
}

#loginmenu {
	min-width: 250px;
	padding:5px;
}

#loginmenu .row form div button {
	width:100%;
}

#loginmenu .row form div {
	margin: 5px 0;
}

#cecckboxcontainer input {
	margin:0;
	vertical-align:middle;
}

#cecckboxcontainer label {
	color:white;
	cursor:pointer;
}

#formSearchGame {
	margin: 5px 0;
}

#chart1 {
	margin-top: 45px;
	height:450px;
	width:100%;
}

#playerstatstable {
	margin-top: 40px;
}

#playerstatstable li .badge {
	color: #222;
}

.graphme {
	cursor:pointer;
}

.search-field input {
	border: 1px solid #CCCCCC!important;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset!important;
	color: #6F6F6F!important;
	min-height:30px;
}

#advanced-search {
	margin: 5px 0;
}

.del-game {
	padding: 4px 23px!important;
}