#main-container, #morestat {
	margin-top:45px;
}

th, td {
	text-align: center;
	vertical-align: middle!important;
}

#form-addgame-error, #error-matchmaking {
	display:none;
}

#formloginnav div {
	margin: 0 1px;
}

#chart1 {
	margin-top: 45px;
	height:450px;
	width:100%;
}

#playerstatstable {
	margin-top: 40px;
}

#playerstatstable li .badge {
	color: #222;
}

.graphme, .del-game {
	cursor:pointer;
}