body {
	margin-top:45px;
}

.jumbotron {
	background:white;
}

th, td {
	text-align: center;
	vertical-align: middle!important;
}

td.player {
	text-align: left;
}

#userTable {
	margin-top:20px;
}

#userTable td, #userTable th {
	text-align:left;
}

#loginmenu {
	min-width: 250px;
	padding:5px;
}

#loginmenu .row form div button {
	width:100%;
}

#loginmenu .row form div {
	margin: 5px 0;
}

#cecckboxcontainer input {
	margin:0;
	vertical-align:middle;
}

#cecckboxcontainer label {
	color:white;
	cursor:pointer;
}

#formSearchGame {
	margin: 5px 0;
}

#chart1 {
	margin-top: 45px;
	height:450px;
	width:100%;
}

#playerstatstable {
	margin-top: 40px;
}

#playerstatstable li .badge {
	color: #222;
}

.graphme {
	cursor:pointer;
}

.search-field input {
	border: 1px solid #CCCCCC!important;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset!important;
	color: #6F6F6F!important;
	min-height:30px;
}

#advanced-search {
	margin: 5px 0;
}

.del-game {
	padding: 4px 23px!important;
}

#cumule-container {
	text-align:right;
}

.select2 {
	margin:10px 0;
}

.select2-container .select2-choice {
	background-image:none!important;
	height:48px!important;
	line-height: 48px!important;
}

.select2-container .select2-choice .select2-arrow {
	background:white!important;
}

.select2-chosen .media h4 {
	margin-top: 12px;
}

.select2-chosen .media a {
	margin-top: 4px;
}

.isWinner {
	margin-top: 10px;
}

.game-players {
	min-height:185px;
}

.game-players .list-group-item {
	font-size: 1.5em;
	padding: 0;
}

.game-actions {
	height: 36px;
	margin-bottom: 15px;
}

.top-panels {
	margin-top:40px;
	margin-bottom:20px;
}

.creneau {
	border: 1px solid #CCC;
}

.creneau-player {
	/*border: 1px solid #CCC;*/
	display:inline-block;
	margin: 4.5px 2px;
	min-width:95px;
	padding-right: 3px;
}

.creneau-me {
	cursor: pointer;
}

.creneau-me:hover {
	background-color: #f2dede;
}

.participate {
	margin: 7px 0;
}

.go-left {
	text-align:left!important;
}

.panel-body {
	padding:0!important;
}

.panel-body table {
	margin-bottom: 0!important;
}

#go-compare {
	margin: 10px 0;
	width: 100%;
}

.compare-list {
	color: #555555;
	list-style-type: none;
	margin-top:30px;
	padding: 0;
	text-align: center;
}

.compare-list li {
	padding:12px;
}

.compare-progress {
	margin: 0 10px;
	width:90%;
}

.compare-progress .progress-bar {
	line-height:18px;
}

.boldme {
	font-weight:bold;
}

.pteam0 {
	background-color: #e99002;
}

.pteam1 {
	background-color: #5bc0de;
}