body {
	margin-top:45px;
}

th, td {
	text-align: center;
	vertical-align: middle!important;
}

#userTable {
	margin-top:20px;
}

#userTable td, #userTable th {
	text-align:left;
}

#formloginnav div {
	margin: 0 1px;
}

#formSearchGame {
	margin: 5px 0;
}

#chart1 {
	margin-top: 45px;
	height:450px;
	width:100%;
}

#playerstatstable {
	margin-top: 40px;
}

#playerstatstable li .badge {
	color: #222;
}

.graphme, .del-game {
	cursor:pointer;
}