#main-container, #morestat {
	margin-top:45px;
}

.nav li a i {
	margin-right: 5px;
}

th, td {
	background-color: white;
	text-align: center;
	vertical-align: middle!important;
}

.player a{
	text-decoration: none;
}

#form-addgame-error{
	display:none;
}

#formloginnav div {
	margin: 0 1px;
}

#playerstatstable {
	margin-top: 40px;
}

#playerstatstable li .badge {
	color: #222;
}

.graphme, .del-game {
	cursor:pointer;
}